body {
    background-color: #ffcab0;;
}
h1 {
    text-align: center;
    padding: 40px;
    font-size: 30px;
    color: rgb(229, 36, 229);
}
h4 {
    text-align: center;
}
.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid palevioletred;
}
.date {
    text-align: left;
    font-size: 20px;
    color: rgb(229, 36, 229);
}
h3 {
    font-size: 17px;
    color: rgb(229, 36, 229);
}
p {
    text-align: center;
    font-size: 40px;
    color: rgb(229, 36, 229);
}

ul {
    list-style-type: none;
    position: absolute;
    top: 320px;
    right: 550px;
    color: rgb(229, 36, 229);
}
.main-city {
    font-size: 50px;
    color: rgb(229, 36, 229);
}
.degree{
    font-size: 50;
    color: rgb(229, 36, 229);
}
.button {
    background-color: rgb(236, 87, 137);
    border: 1px solid plum;
    color: plum;
}