body {
    background-color: #ffcab0;;
}
h1 {
    text-align: center;
    padding: 40px;
    font-size: 40px;
    color: rgb(229, 36, 229);
    font-family: 'Great Vibes', cursive;
}
h4 {
    text-align: center;
}
.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid palevioletred;
}
.date {
    text-align: left;
    font-size: 25px;
    color: rgba(161, 4, 161, 0.889);
    font-family: 'Great Vibes', cursive;
}
h3 {
    font-size: 20px;
    color: rgba(161, 4, 161, 0.889);
    font-family: 'Great Vibes', cursive;
}
p {
    text-align: center;
    font-size: 50px;
    color: rgba(161, 4, 161, 0.889);
    font-family: 'Great Vibes', cursive;
}

ul {
    list-style-type: none;
    position: absolute;
    top: 355px;
    right: 500px;
    color: rgba(161, 4, 161, 0.889);
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
}
.main-city {
    font-size: 50px;
    color: rgba(161, 4, 161, 0.889);
    font-family: 'Great Vibes', cursive;
}
.degree{
    font-size: 50px;
    color: rgba(161, 4, 161, 0.889);
    font-family: 'Great Vibes', cursive;
}
.button {
    background-color: white;
    border: 1px solid rgba(161, 4, 161, 0.889);
    color: rgba(161, 4, 161, 0.889);
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

h2 {
   color: rgba(161, 4, 161, 0.889);
font-family: 'Great Vibes', cursive;
font-size: 50px;
}