h1 {
    text-align: center;
    padding: 40px;
    font-size: 30px;
}
.cloud-icon {
    color: gray;
    font-size: 50px;
}
.degree {
    font-size: 40px;
}
.sun-icon {
    color: black;
}
.cloudy-icon {
    color: rgb(234, 196, 131);
}
.rain-icon {
    color: rgb(99, 99, 212);
}
h4 {
    text-align: center;
}
.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 3px solid palevioletred;
}
h2 {
    font-size: 25px;
}
